<!doctype html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
<meta name="generator" content="Hugo 0.80.0">
<title th:utext="#{label.badUser.title}">bad user</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

<style>
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media ( min-width : 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
</style>
</head>
<body class="d-flex flex-column h-100">

  <!-- Begin page content -->
  <main role="main" class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-5" th:utext="${message}">Error</h1>
      <p class="lead">Token validation failure, your token has expired or is invalid.</p>
      <p th:if="${expired}">
        <a id="resendTokenBtn" href="javascript:void(0)" class="btn btn-lg btn-primary" role="button" th:utext="#{label.form.resendRegistrationToken}">Send token again</a>
      </p>
      <a th:href="@{/user/registration}" class="btn btn-lg btn-primary" role="button">Registration</a>
      <a th:href="@{/login}" class="btn btn-lg btn-primary" role="button">Home</a>
    </div>
  </main>
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:inline="javascript">
  var serverContext = [[@{/}]];
  
  $(document).ready(function () {
    $('#resendTokenBtn').click(function(event) {
      resendToken(event);
  	});
  });
  
  function resendToken(event){
    event.preventDefault();
    var token = [[${token}]];
    $.get(serverContext + "user/resendRegistrationToken?token=" + token, function(data) {
        window.location.href = serverContext +"login?message=" + data.message;
    }).fail(function(data) {
      if(data.responseJSON.error.indexOf("MailError") > -1) {
          window.location.href = serverContext + "login?message=Email Error";
      } else {
          window.location.href = serverContext + "login?message=" + data.responseJSON.message;
      }
    });
  }
  
  $(document).ajaxStart(function() {
      $("title").html("LOADING ...");
  });
  </script>
</body>
</html>
