<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
<meta name="generator" content="Hugo 0.80.0">
<title>Canteen - HomePage</title>

<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">



<!-- Bootstrap core CSS -->
<link th:href="@{/assets/dist/css/bootstrap.min.css}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"/>
<style>
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media ( min-width : 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
</style>


<!-- Custom styles for this template -->
<link th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>
<body>

  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Company name</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap"><a class="nav-link" href="#">Sign out</a></li>
    </ul>
  </header>

  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/"> <span data-feather="home"></span> Food Order List
            </a></li>
            <li class="nav-item d-none"><a class="nav-link" href="#"> <span data-feather="file"></span> Orders
            </a></li>
            <li class="nav-item d-none"><a class="nav-link" href="#"> <span data-feather="shopping-cart"></span> Products
            </a></li>
            <li class="nav-item d-none"><a class="nav-link" href="#"> <span data-feather="users"></span> Customers
            </a></li>
            <li class="nav-item d-none"><a class="nav-link" href="#"> <span data-feather="bar-chart-2"></span> Reports
            </a></li>
            <li class="nav-item d-none"><a class="nav-link" href="#"> <span data-feather="layers"></span> Integrations
            </a></li>
          </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted d-none">
            <span>Saved reports</span> <a class="link-secondary" href="#" aria-label="Add a new report"> <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2 d-none">
            <li class="nav-item"><a class="nav-link" href="#"> <span data-feather="file-text"></span> Current month
            </a></li>
            <li class="nav-item"><a class="nav-link" href="#"> <span data-feather="file-text"></span> Last quarter
            </a></li>
            <li class="nav-item"><a class="nav-link" href="#"> <span data-feather="file-text"></span> Social engagement
            </a></li>
            <li class="nav-item"><a class="nav-link" href="#"> <span data-feather="file-text"></span> Year-end sale
            </a></li>
          </ul>
        </div>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Food Order List</h1>
          <div class="btn-toolbar mb-2 mb-md-0 d-none">
            <div class="btn-group me-2">
              <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar"></span> This week
            </button>
          </div>
        </div>

        <div class="table-responsive">
          <table id="foodOrderTable" class="table table-striped table-sm">
            <thead>
              <tr>
                <th>Order ID</th>
                <th>Created At</th>
                <th>Delivery Type</th>
                <th>Mobile Phone</th>
                <th>Address</th>
              </tr>
            </thead>
          </table>
        </div>
      </main>
    </div>
  </div>

  <script th:src="@{/assets/dist/js/bootstrap.bundle.min.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.24/dataRender/datetime.js"></script>
  <script type="text/javascript" th:src="@{js/jquery.spring-friendly.js}"></script>
  <script>
  var token = $("meta[name='_csrf']").attr("content");
  var header = $("meta[name='_csrf_header']").attr("content");
  
  $(document).ajaxSend(function(e, xhr, options) {
    xhr.setRequestHeader(header, token);
  });
  $(document).ready(function() {
    $('table#foodOrderTable').DataTable({
      'ajax': {
        'contentType': 'application/json',
        'url': '/foodOrder/list',
        'type': 'POST',
        'data': function(d) {
          return JSON.stringify(d);
        }
      },
      serverSide: true,
      columns: [ {
        data: 'id'
      },{
        data: 'createdAt'
      },{
        data: 'deliveryType'
      },{
        data: 'mobilePhone'
      },{
        data: 'address'
      } ]
    });
  });
    </script>
</body>
</html>
