<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
<meta name="generator" content="Hugo 0.80.0">
<title th:utext="#{label.pages.home.title}">Title</title>
<link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/sign-in/">

<!-- Bootstrap core CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

<style>
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media ( min-width : 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.wrapper {
  width: 500px;
  margin-left: auto;
  margin-right: auto
}

label {
  padding-left: 0 !important
}
</style>

<!-- Custom styles for this template -->
<link th:href="@{/css/signin.css}" rel="stylesheet">
</head>
<body class="text-center">
  <form name="f" action="login" method='POST' class="form-signin" onsubmit="return validate();">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <div th:if="${message != null}" class="alert alert-warning" th:utext="${message}">message</div>
    <div th:if="${error != null}" class="alert alert-danger" th:utext="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>
    <img class="mb-4" th:src="@{/image/bootstrap-solid.svg}" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal" th:utext="#{label.form.loginTitle}">Please sign in</h1>
    <label for="email" class="sr-only" th:utext="#{label.form.loginEmail}">Email</label> 
    <input type="email" name="username" class="form-control" placeholder="Email address" required autofocus> 
    <label for="password" class="sr-only" th:utext="#{label.form.login2fa}">Password</label> 
    <input type="password" name="password" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3 d-none">
      <label> <input type="checkbox" value="remember-me"> Remember me</label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" name="submit" type="submit" >Login</button>
    <a href="/user/registration" class="btn btn-lg btn-primary btn-block" name="submit" role="button">Register</a>
    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
  </form>
  <script th:inline="javascript">
  
  function validate() {
      if (document.f.username.value == "" && document.f.password.value == "") {
          alert(/*[[#{message.username} + #{message.password}]]*/);
          document.f.username.focus();
          return false;
      }
      if (document.f.username.value == "") {
          alert(/*[[#{message.username}]]*/);
          document.f.username.focus();
          return false;
      }
      if (document.f.password.value == "") {
          alert(/*[[#{message.password}]]*/);
          document.f.password.focus();
          return false;
      }
  }
</script>
</body>
</html>
