<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
<meta name="generator" content="Hugo 0.80.0">
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<title th:utext="#{label.form.title}">form</title>
<link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/checkout/">

<!-- Bootstrap core CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

<style>
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media ( min-width : 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
</style>

<!-- Custom styles for this template -->
<link th:href="@{/css/form-validation.css}" rel="stylesheet">
</head>
<body class="bg-light">
  <div class="container">
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" th:src="@{/image/bootstrap-solid.svg}" alt="" width="72" height="72">
      <h1 th:utext="#{label.form.title}">form</h1>
      <p class="lead">Create your account. It's free and only take a minute.</p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form id="registerForm" class="needs-validation" method="POST" enctype="utf8" onsubmit="return register();">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName" th:utext="#{label.user.firstName}">First name</label> 
              <input type="text" id="firstName" name="firstName" class="form-control" placeholder="" value="" required>
              <div id="firstNameError" class="invalid-feedback">Valid first name is required.</div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName" th:utext="#{label.user.lastName}">Last name</label> 
              <input type="text" class="form-control" id="lastName" name="lastName" placeholder="" value="" required>
              <div id="lastNameError" class="invalid-feedback">Valid last name is required.</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="email" th:utext="#{label.user.email}">Email <span class="text-muted">(as account)</span></label> 
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" required>
              <div id="emailError" class="invalid-feedback">Please enter a valid email address for shipping updates.</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="password" th:utext="#{label.user.password}">Password</label> 
              <input type="password" id="password" name="password" class="form-control" placeholder="" value="" required>
              <div class="invalid-feedback"></div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="matchPassword" th:utext="#{label.user.confirmPass}">confirm</label> 
              <input type="password" class="form-control" id="matchPassword" name="matchPassword" placeholder="" value="" required>
              <div class="invalid-feedback">Password does not match!</div>
            </div>
          </div>
          <button id="registerFormSubmit" class="btn btn-primary btn-lg btn-block" th:utext="#{label.form.submit}" type="submit">Submit</button>
        </form>
      </div>
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2021 Canteen</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer>
  </div>
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/pwstrength.js}"></script>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/js/form-validation.js}"></script>
  <script th:inline="javascript">
  var serverContext = [[@{/}]];
  
  var token = $("meta[name='_csrf']").attr("content");
  var header = $("meta[name='_csrf_header']").attr("content");
  $(document).ajaxSend(function(e, xhr, options) {
    xhr.setRequestHeader(header, token);
  });
  
  $(document).ready(function () {
    /* $('#registerFormSubmit').submit(function(event) {
      register(event);
    }); */
    
    $(":password").keyup(function(){
      if($("#password").val() != $("#matchPassword").val()) {
          $("#matchPassword").removeClass("is-valid").addClass("is-invalid");
        } else {
          $("#matchPassword").removeClass("is-invalid").addClass("is-valid");
        }
    });
    
    options = {
          common: {minChar:8},
          ui: {
            showVerdictsInsideProgressBar:true,
            showErrors:true,
            errorMessages:{
                wordLength: /*[[#{error.wordLength}]]*/,
                wordNotEmail: /*[[#{error.wordNotEmail}]]*/,
                wordSequences: /*[[#{error.wordSequences}]]*/,
                wordLowercase: /*[[#{error.wordLowercase}]]*/,
                wordUppercase: /*[[#{error.wordUppercase}]]*/,
                wordOneNumber: /*[[#{error.wordOneNumber}]]*/,
                wordOneSpecialChar: /*[[#{error.wordOneSpecialChar}]]*/
              }
            }
      };
     $('#password').pwstrength(options);
  });
  
  function register(){
    $("#registerForm input").removeClass("is-invalid");
    if($("#password").val() != $("#matchPassword").val()){
      $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
      
      return;
    }
    
    var formData= $('form').serialize();
    $.post(serverContext + "user/registration", formData, function(data) {
      if(data.message == "success") {
          window.location.href = /*[[@{/successRegister}]]*/;
      }
    }).fail(function(data) {
      console.log(0);
      if(data.responseJSON.error.indexOf("MailError") > -1) {
        console.log(2);
          window.location.href = serverContext + "emailError.html";
      } else if(data.responseJSON.error == "UserAlreadyExist"){
        console.log(3);
      	$("#emailError").html(data.responseJSON.message);
      	$("#email").addClass("is-invalid");
      } else if(data.responseJSON.error.indexOf("InternalError") > -1) {
        console.log(4);
          window.location.href = serverContext + "login?message=" + data.responseJSON.message;
      } else {
        console.log(5);
        var errors = $.parseJSON(data.responseJSON.message);
        $.each(errors, function(index, item) {
          if (item.field) {
            $("#" + item.field).addClass("is-invalid");
          } else {
            $("#globalError").show().append(item.defaultMessage+"<br/>");
          }
        });
      }
    });
    
    return false;
  }
  </script>
</body>
</html>
