<!doctype html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
<meta name="generator" content="Hugo 0.80.0">
<title th:utext="#{label.pages.home.title}">home</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

<style>
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media ( min-width : 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
</style>
</head>
<body class="d-flex flex-column h-100">

  <!-- Begin page content -->
  <main role="main" class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-5" >Success</h1>
      <p class="lead" th:utext="#{message.regSuccConfirmed}">You registered successfully.</p>
      <a th:href="@{/login}" class="btn btn-lg btn-primary" role="button" th:utext="#{label.login}"></a>
    </div>
  </main>
</body>
</html>